<script setup lang="ts">
import { userApi, firebaseApi, type User } from '@/api'

const message = useMessage()
const chatEventBus = useEventBus('chat')

const listData = ref<
  {
    user: User
    input: string
    data: {
      from: string
      content: string
    }[]
  }[]
>([])
const state = reactive({
  isFetchingUser: true
})

async function fetchAllUser() {
  state.isFetchingUser = true

  try {
    const res = await userApi.getList()
    listData.value = res.data.map((item) => ({
      user: item,
      input: '',
      data: []
    }))
  } catch (error: any) {
    message.error(error.message || error.data?.message || 'Có lỗi xảy ra')
  }

  state.isFetchingUser = false
}

async function sendMessage(index: number) {
  try {
    const user = listData.value[index].user
    await firebaseApi.sendToUser(user.id, listData.value[index].input)
    listData.value[index].data.push({
      from: 'me',
      content: listData.value[index].input
    })
    listData.value[index].input = ''
  } catch (error: any) {
    message.error(error.message || error.data?.message || 'Có lỗi xảy ra')
  }
}

chatEventBus.on((data: any) => {
  console.log('chat data', data)
  if (data) {
    const index = listData.value.findIndex((item) => item.user.username === data.fromUser)
    console.log(index)
    if (index !== -1) {
      listData.value[index].data.push({
        from: data.fromUser,
        content: data.body
      })
    }
  }
})

fetchAllUser()
</script>

<template>
  <n-space justify="center" :size="30">
    <div class="border border-gray-200 w-[340px]" v-for="(item, index) in listData" :key="index">
      <!-- Title -->
      <div class="font-semibold text-lg px-2 py-1 border-b border-gray-200 bg-gray-100">
        {{ item.user.username }}
      </div>
      <!-- Content -->
      <n-scrollbar style="height: 280px" class="px-2">
        <div
          v-for="(dataContent, contentIndex) in item.data"
          :key="contentIndex"
          :class="{
            'text-end': dataContent.from === 'me'
          }"
        >
          {{ dataContent.content }}
        </div>
      </n-scrollbar>
      <!-- Input -->
      <form class="flex items-center" @submit.prevent="sendMessage(index)">
        <n-input v-model:value="item.input" />
        <n-button type="primary" attr-type="submit">Send</n-button>
      </form>
    </div>
  </n-space>
</template>
