<script setup lang="ts">
const dialog = useDialog()
// const message = useMessage()
const firebase = useFirebase()

const state = reactive({
  isFetchingNotify: true,
  isNotificationEnabled: false,
  isPendingToggleNotification: false
})

async function checkFirebaseStatus() {
  state.isFetchingNotify = true
  try {
    await firebase.checkNotificationStatus()
    state.isNotificationEnabled = true
  } catch (error) {
    state.isNotificationEnabled = false
  }
  state.isFetchingNotify = false
}

async function toggleNotification() {
  state.isPendingToggleNotification = true
  try {
    await firebase.requestPermission()
    if (state.isNotificationEnabled) {
      await firebase.unSubscribe()
      state.isNotificationEnabled = false
    } else {
      await firebase.subscribe()
      state.isNotificationEnabled = true
    }
  } catch (error: any) {
    dialog.error(error.message || 'Có lỗi xảy ra')
  }
  state.isPendingToggleNotification = false
}

onMounted(() => {
  checkFirebaseStatus()
})
</script>
<template>
  <div class="flex items-center gap-x-2">
    <n-switch
      size="large"
      :value="state.isNotificationEnabled"
      :on-update:value="toggleNotification"
      :disabled="state.isPendingToggleNotification"
    />
    <span class="text-lg">Kích hoạt nhận thông báo</span>
  </div>
</template>
