<script setup lang="ts">
import type { FirebaseTopic } from '@/api'
import { firebaseApi } from '@/api'

const message = useMessage()
const notification = useNotification()

const state = reactive({
  isFetching: false
})
const listTopic = ref<FirebaseTopic[]>([])
const topicEventBus = useEventBus('topic')

async function fetchTopics() {
  state.isFetching = true

  try {
    const res = await firebaseApi.topic.getList()
    listTopic.value = res.data
  } catch (error: any) {
    message.error(error.message || 'Có lỗi xảy ra')
  }
  state.isFetching = false
}

async function joinTopic(topic: FirebaseTopic) {
  try {
    const res = await firebaseApi.topic.join(topic.id)
    listTopic.value = listTopic.value.map((item) => {
      if (item.id === topic.id) {
        item.FirebaseTopicMember.push(res.data)
      }
      return item
    })
    message.success('Đăng ký nhận thông báo thành công')
  } catch (error: any) {
    message.error(error.message || 'Có lỗi xảy ra')
  }
}

async function leaveTopic(topic: FirebaseTopic) {
  try {
    await firebaseApi.topic.leave(topic.id)
    listTopic.value = listTopic.value.map((item) => {
      if (item.id === topic.id) {
        item.FirebaseTopicMember = []
      }
      return item
    })
    message.success('Hủy đăng ký nhận thông báo thành công')
  } catch (error: any) {
    message.error(error.message || 'Có lỗi xảy ra')
  }
}

async function toggleTopic(topic: FirebaseTopic) {
  if (topic.FirebaseTopicMember.length) {
    await leaveTopic(topic)
  } else {
    await joinTopic(topic)
  }
}

fetchTopics()

topicEventBus.on((data: any) => {
  console.log(data)
  notification.info({
    content: data.title,
    meta: data.body,
    duration: 4000,
    keepAliveOnHover: true
  })
})
</script>

<template>
  <div class="flex flex-col items-center justify-center gap-y-2">
    <div class="flex items-center gap-x-2" v-for="(topic, index) in listTopic" :key="index">
      <n-switch
        size="large"
        :value="!!topic.FirebaseTopicMember.length"
        @click="toggleTopic(topic)"
      />
      <span class="text-lg">{{ topic.name }}</span>
    </div>
  </div>
</template>
