<script setup lang="ts">
import FirebaseSubscription from './components/FirebaseSubscription.vue'
import ChatUsers from './components/ChatUsers.vue'
import NotificationTopic from './components/NotificationTopic.vue'

// const logs = ref<any[]>([])
// navigator.serviceWorker.addEventListener('message', (event) => {
//   console.log('Received a message from service worker: ', event.data)
//   logs.value.push(event.data)
// })
const authStore = useAuthStore()
</script>

<template>
  <div class="mb-10">
    <div class="bg-gray-100 py-3 text-lg font-semibold text-center sticky top-0">
      {{ authStore.profile?.username }}
    </div>
    <n-space justify="center" align="center" vertical>
      <div class="mb-4">
        <firebase-subscription class="mt-4" />
      </div>
      <chat-users />
    </n-space>
    <div class="border my-10"></div>
    <notification-topic />
  </div>
</template>
