<script setup lang="ts">
import { useEventBus } from '@vueuse/core'

useFirebaseStore()
const firebase = useFirebase()
const chatEventBus = useEventBus('chat')
const topicEventBus = useEventBus('topic')

firebase.receiveMessage((payload) => {
  console.log('Received foreground message ', payload)
  const data = payload.data
  console.log('data', data)
  if (!data) return

  switch (data.type) {
    case 'chat':
      chatEventBus.emit(data)
      break
    case 'topic':
      topicEventBus.emit(data)
      new Notification(data.title, {
        body: data.body,
        icon: data.icon
      })
      break
    default:
      new Notification(data.title, {
        body: data.body,
        icon: data.icon
      })
      break
  }
})
</script>

<template>
  <n-config-provider preflight-style-disabled>
    <n-notification-provider>
      <n-dialog-provider>
        <n-message-provider>
          <RouterView />
          <n-global-style />
        </n-message-provider>
      </n-dialog-provider>
    </n-notification-provider>
  </n-config-provider>
</template>
