<script setup lang="ts">
const router = useRouter()
const { login } = useAuthStore()

const formData = reactive({
  username: '',
  password: ''
})

const message = useMessage()

async function handleLogin() {
  try {
    await login(formData)
    message.success('Login success')
    router.push('/')
  } catch (error: any) {
    message.error(error.message || 'Login failed')
  }
}
</script>

<template>
  <div class="mt-10">
    <h1 class="text-center font-semibold text-lg mb-1 uppercase">Login</h1>
    <form class="w-[200px] mx-auto flex flex-col gap-y-2" @submit.prevent="handleLogin">
      <n-input v-model:value="formData.username" placeholder="username" />
      <n-input v-model:value="formData.password" placeholder="password" />
      <n-button type="primary" attr-type="submit" class="!w-full">Login</n-button>
    </form>
  </div>
</template>
